<a href="https://colab.research.google.com/github/Jauny143/iNeuron-Assignments/blob/main/Assignment1_(iNeuron).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Solution of Assignment 1 (Basic Python -- iNeuron)**



**Solution 1**:

*  Values     : 'hello', -87.8, 6   
*  expression :  *, -, /, +

**Solution 2:** A variable is a repository of information and a string is a type of information that is stored in a variable. 

For example: x = "My name is Jauny"

Here we declare the variable name x to the string "My name is Jauny".

**Solution 3** Generally, there are many types of data in python. Three of them are 'int' type, 'float' type and 'str' type. 'int' type data contain all the integers, 'float' type data contain all decimal values and 'str' type data contain sequnce of characters.

**Soluton 4:** An expression is made up of values, variables, operators and call of functions. If we type an expression on the command line, the interpreter evaluates it and displays the output of the expression.

**Solution 5:** 

* Expressions are evaluated to compute their value. Literal values, variables, binary operations, and function calls are examples of expressions.
*  Statements are executed to take some action. Variable assignments, loops, conditionals, and raising exceptions are examples of statements.

**Solution 6:**

In [ ]:
bacon=22

In [ ]:
bacon+1

23

**Solution 7:** the values of 'spam'+'spamspam' and 'spam'*3 will be 'spamspamspam'.

In [ ]:
'spam'+'spamspam'

'spamspamspam'

In [ ]:
'spam'*3

'spamspamspam'

**Solution 8:** Variables name never start by a number therefore the variable name eggs is valid and 100 is invaid.

**Solution 9:** Three functions are int(), float(), str().

**Solution 10:** we can not perform the operator + between string and int value. If we want to perform this operator then we have to convert int value into str type.

In [ ]:
'I have eaten' +' 99 '+'burritos'

'I have eaten 99 burritos'